.trello {
  background-color: #85c5f9;
  min-height: 100vh;
  font-size: 20px;
  color: white;
}

.top-menu {
  display: flex;
  background: #094a84;
}

.app-title {
  float: left;
  padding: 25px;
  margin: 0 25px;
  font-size: 24px;
  font-weight: 800;
}

.board-list-holder {
  font-size: 20px;
  padding: 25px;
  display: flex;
  float: left;
  margin-left: 100px;
}


.board-list {
  cursor: pointer;
  min-width: 150px;
  padding: 5px;
  font-size: 14px;
  border: 0;
  border-radius: 5px;
  margin: 0 10px;
}

.board-change-text {
  margin: 1px 20px;
  font-size: 22px;
  font-weight: 500;
}

.board-holder {
  display: flex;
  flex-direction: column;
  margin: 0 0 50px;
  clear: both;
}

.board-title-holder {
  background: #2196f3ab;
  text-align: center;
}

.list-holder {
  display: block;
  padding: 25px;
}

.droppable-holder{
  padding: 10px;
  margin: 10px 20px 10px 0;
  float: left;
  border-radius: 10px;
  width: 250px;
  min-height: 275px;
}

.droppable-title-holder{
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color:#172b4d;
}

.draggables-container {
  max-height: 400px;
  overflow-y: auto;
}

.draggable-content-holder {
  margin-top: 15px;
}

.draggable-holder {
  background: #fff;
  color: #172b4d;
  font-size: 16px;
  padding: 5px 10px;
  margin: 10px 0;
  min-height: 75px;
  max-height: 125px;
  border-radius: 10px;
  overflow-y: auto;
}

.draggable-title-holder{
  font-size: 16px;    
  font-weight: 600;
  margin-top: 5px;
}

.add-board-btn {
  cursor: pointer;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 20px;
  border-radius: 10px;
  background: #ebecf0;
  color: #182b4d;
}

.add-list-btn {
  cursor: pointer;
  float: left;
  padding: 10px 15px;
  margin: 15px;    
  background: #ebecf0;
  color: #5e6c84;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
}

.add-draggable-btn {
  cursor: pointer;
  border-radius: 10px;
  color: #5e6c84;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

